.mainContents {
  width: 960px;
  margin: 0 auto 365px;
  padding-top: 3px;
}

section#sec1 {
  width: 100%;
}
section#sec1 .faqWrap {
  margin-bottom: 70px;
}
section#sec1 .faqWrap:last-child {
  margin-bottom: 0;
}

/* section#sec1 */
.faqWrap {
  width: 100%;
}

.faqTtl {
  float: left;
  padding-top: 3px;
}
.faqTtl h1 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.faqTtl h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1px;
}

.faqCont {
  float: right;
  width: 715px;
}
.faqCont dl dt {
  color: #545454;
  border-bottom: 1px solid #999999;
  padding: 0 10px 6px;
  margin-bottom: 25px;
  display: block;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 1;
}
.faqCont dl dd {
  width: 96%;
  padding: 0 10px;
  display: none;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 2;
  color: #999999;
  margin-bottom: 60px;
  text-align: justify;
}

/* faqCont */
