.halfSize {
	zoom: 0.5;	
}
.l-left {
	float: left;
}
.l-right {
	float: right;
}
section.howtouse {
	width: 1000px;
}
h1 {
	margin-bottom: 70px;
	text-align: center;	
}
h1 + p {
	margin-bottom: 112px;
	text-align: center;
}
.contents {
	float: left;
	width: 50%;
	margin-bottom: 76px;
	box-sizing: border-box;
}
.contents:nth-of-type(2n-1) {
	padding-right: 50px;
}
.contents:nth-of-type(2n) {
	padding-left: 50px;
}
.contents h2 {
	padding-bottom: 15px;
	margin-bottom: 25px;
}
.content01 h2 {
	border-bottom: 5px solid #E9D05D;
}
.content02 h2 {
	border-bottom: 5px solid #228F6F;
}
.content03 h2 {
	border-bottom: 5px solid #F77C75;
}
.content04 h2 {
	border-bottom: 5px solid #C1CDDD;
}
.contents .l-left {
	width: 250px;
}
.contents .l-right {
	width: 200px;
}
.content02 .imageBox {
	margin-top: 25px;
}
.content03 .imageBox, .content04 .imageBox {
	margin-top: 7px;
}
.contents .textBox p {
	line-height: 2.2;
	color: #999;
	font-size: 13px;
}
.contents .imageBox {
	text-align: center;
}
.howtouse_link {
	text-align: right;
	margin: 10px 0;
}
.howtouse_link a {
  display: inline-block;
  padding-left: 48px;
  background: url(../img/whats/whatsfablab_icn_arrow.png) left center no-repeat;
  background-size: 33px 12px;
}